.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* sushi counter wave */
.sushi {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .8));
    font-size: 20px;

}


.counter {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #be1919;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .8));
    font-size: 20px;

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}



/* navbar  */
.menu-nav {
    cursor: pointer;
}

.menu-list-nav ul a li button:hover {

    color: #be1919 !important;
    opacity: 0.7;


}

.menu-list-nav {
    font-family: 'Alfa Slab One', cursive;
    /* font-size: 20px !important; */
}


/* content start */


.animate-charcter-eng {

    background-image: linear-gradient(-225deg,
            red 0%,
            #000000 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    /* margin-left: 50px !important; */
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.animate-charcter-myan {

    background-image: linear-gradient(-225deg,
            red 0%,
            #000000 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
    margin-left: 2px !important;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* slogan */

.info-slogan {
    font-size: 25px;
    /* padding-left: 10px; */


}

.info-text {
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    margin-left: 50px !important;


}

/* right content */
.right-content img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


/* btn */
.glow-on-hover {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Alfa Slab One', cursive;

}



.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



/* glow on hover buy */
.index-add .addToCart {
    width: 270px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    /* margin-top: 30px; */
    font-family: 'Alfa Slab One', cursive;

}

.index-add .addToCart:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.index-add .addToCart:active {
    color: #000
}

.index-add .addToCart:active:after {
    background: transparent;
}

.index-add .addToCart:hover:before {
    opacity: 1;
}

.index-add .addToCart:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* btn menu */
/* glow on hover buy */
.glow-on-hover-menu {
    width: 220px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Alfa Slab One', cursive;

}

.glow-on-hover-menu:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover-menu:active {
    color: #000
}

.glow-on-hover-menu:active:after {
    background: transparent;
}

.glow-on-hover-menu:hover:before {
    opacity: 1;
}

.glow-on-hover-menu:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}




/*  delivery*/
/* popular songs */
.song-modal-dialog {
    max-width: 800px;
    margin: 30px auto;

}

.song-modal-body {
    position: relative;
    padding: 0 !important;
}

.card-body {
    font-family: 'Alfa Slab One', cursive;
}

.card-body:hover {
    color: gray;
    opacity: 0.7;
}

/* about us */
.logo-container-about {
    font-family: 'Alfa Slab One', cursive;
}

/* about us img */
.about-us-img {

    border-radius: 12px;

}

.about-us-img2 {

    border-radius: 12px;
    /* border-radius: 110px 150px 150px 135px; */

}

.history-title {
    font-family: 'Alfa Slab One', cursive !important;
    color: #cf0000;
}

.history-content {
    font-family: 'Alfa Slab One', cursive !important;
    font-size: 20px;
}

.icons a {
    color: #111;
    margin-left: 35px !important;
}

.icons a:hover {
    color: #000;
    opacity: 0.5;
}

/* meet our chef */
.waviy1 {
    position: relative;
}

.waviy1 span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #111;

    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

/* meet our chef  */
.chef1-img,
.chef2-img,
.chef3-img {

    border-radius: 50% !important;
}

/*  counter */
.counter-up {
    background: url(../images/about-us9.webp) no-repeat;
    min-height: 40vh;    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
   

}

.counter-up::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4)
}

.counter-content {
    position: relative;
    z-index: 2;
    
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.border1 {
    border-radius: 20px;
    width: calc(25%-20px);
}



.icon {
    font-size: 30px;
    color: #e6e6e6;

}

.counter-num {
    font-size: 40px;
    color: #e6e6e6;
    font-weight: 700;
    font-family: 'Alfa Slab One', cursive !important;

}

.counter-text {
    font-family: 'Alfa Slab One', cursive !important;
    color: #fff !important;
    font-size: 40px !important;


}

.counter-up {
    /* padding: 50px 50px 0 50px; */
    padding-left: 27px !important;
    padding-top: 40px !important;
    
}



/* chef */
.hovereffect {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect img {
    display: block;
    position: relative;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    font-size: 30px;
    /* padding: 10px; */
}

.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=1);
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 20px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect hr {
    width: 80%;
    opacity: 0;
    filter: alpha(opacity=0);
    border: 1px solid #da2121;
}

.hovereffect hr:nth-child(3) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
}

.hovereffect hr:nth-child(4) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg) scale3d(0, 0, 1);
}

.hovereffect h2,
.hovereffect hr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
}

.set1,
.set2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

.set1 {
    top: 40%;
}

.set2 {
    top: 60%;
}

.hovereffect p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
}

.hovereffect p a {
    color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.hovereffect a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* padding: 10px; */
    font-size: 20px;
}

.set1 a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0);
}

.set1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0);
}

.set2 a:first-child i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0);
}

.set2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0);
}

.hovereffect:hover hr:nth-child(3) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -20deg) scale3d(1, 1, 1);
}

.hovereffect:hover hr:nth-child(4) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -180deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 20deg) scale3d(1, 1, 1);
}

.hovereffect:hover .set1 i:empty,
.hovereffect:hover .set2 i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100);


}




/* customer */
.hovereffect1 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect1 .overlay1 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    /* background-color: rgba(78, 8, 8, 0.7); */
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect1:hover .overlay1 {
    background-color: rgba(29, 3, 3, 0.4);
}

.hovereffect1 img {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 300px;
    height: 300px;


}

.hovereffect1 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(185px);
    -ms-transform: translateY(185px);
    transform: translateY(185px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: 'Alfa Slab One', cursive !important;
}

.hovereffect1:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

.hovereffect1 a.info1 {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    /* margin: -52px 0 0 0; */
    /* padding: 62px 100px; */
}

.hovereffect1:hover a.info1 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect1 a.info1:hover {
    box-shadow: 0 0 5px #fff;
}

/* form */
.form-name,
.form-email,
.form-review,
.form-button {
    font-family: 'Alfa Slab One', cursive !important;
}

.form-button {
    background: linear-gradient(to left, #000, #cf0000);
}

/* footer  */

footer {

    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #000, #cf0000);
    color: #fff;
    /* margin-left: 10px; */
    /* padding: 100px 10px 30px 10px; */
    font-size: 15px;
    line-height: 20px;
    font-family: 'Alfa Slab One', cursive !important;
}

.form-footer {
    padding-left: 0 !important;
}




.logo-footer {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}


ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Alfa Slab One', cursive !important;

}

ul li a:hover {
    list-style: none;
    text-decoration: none;
    color: #7e7a7a;

}





.footer-copyright {
    font-size: 15px;
    /* margin-bottom: 20px; */

}

.footer-icons {
    font-size: medium;


}

.footer-icons a {
    color: #fff;
}

.footer-icons a:hover {
    color: #4b4646;
}