/* navbar  */
.menu-nav {
    cursor: pointer;
}

.menu-list-nav ul a li button:hover {

    color: #be1919 !important;
    opacity: 0.7;


}

.menu-list-nav {
    font-family: 'Alfa Slab One', cursive;
    /* font-size: 20px !important; */
}

.sashimi-title {
    text-align: center;   
    font-family: 'Alfa Slab One', cursive;
}

.sashimi-title h3 {
    font-size: 30px;
    position: relative;
    display: inline-block;
    
    font-family: 'Alfa Slab One', cursive;
}

.sashimi-title h3::before {
    content: "";
    position: absolute;
    width: 190px;
    height: 3px;
    background-color: #cf0000;
    bottom: 2;
    left: 2%;
}